.aparts-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.aparts-list__item {
  width: 379px;
  min-height: 381px;
  margin-right: 21px;
  margin-bottom: 38px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

@media (max-width: $tablet-only) {
  .aparts-list__item {
    margin-right: 10px;
    margin-bottom: 28px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-child(3n) {
      margin-right: auto;
    }
  }
}

@media (max-width: $mobile-only) {
  .aparts-list__item {
    margin-right: 0
  }
}
