.filter-block__text {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-left: 1px;
  margin-right: 20px;
}

.filter-block__input {
  width: 386px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid $border-grey;
  outline: none;
  transition-duration: 0.3s;
  padding: 0 15px;

  &:hover,
  &:focus {
    border-color: $border-hover;
  }
}

.filter-block__error-message {
  display: none;
  margin-left: 20px;
  padding: 17px;
  background-color: #FFCCCC;
  border-radius: 5px;
  font-weight: 700;
}
