.main-body {
  padding: 0 50px;
}


.main-body__filter-block {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}

.main-body__aparts {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 22px;
}
