// widths
$desktop-width: 1366px;
$tablet-only: 1199px;
$mobile-only: 767px;

//colors
$title-green: #45852D;
$main-black: #363636;
$border-grey: #D8D8D8;
$border-hover: #007aff;
$white: #ffffff;
$background-color-dark-green: #006F79;
$background-color-orange: #EC6608;


//font-family
$font-primary: "OpenSans",
"Arial",
sans-serif;
//$side-text: "Wremena",
//"Arial",
//sans-serif;

//retina stats
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


//animation
